@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">¡Ha Ocurrido un Error!</h1>
<h2>Ocurrió un error al procesar tu solicitud, intente de nuevo o contacte con un encargado y muestrele el siguiente error.</h2>

<p>
    <strong>Detalles del Error:</strong>
    <br>
    <code>@ViewData["Error"]</code>
</p>

